{% extends '_layout.njk' %}
{% import '_macro/post-collapse-filter.njk' as post_template with context %}
{% import '_macro/sidebar.njk' as sidebar_template with context %}

{% block title %}{{ __('title.product') }} | {{ title }}{% endblock %}

{% block class %}archive posts-collapse{% endblock %}

{% block content %}

  {#####################}
  {### ARCHIVE BLOCK ###}
  {#####################}
  <div class="post-block">
    <div class="post-content">
      <div class="collection-title">
        <span class="collection-header">Products</span>
      </div>
      <div class="post-meta-container">
        <div class="collection-desc">{{ page.desc }}</div>
      </div>

      {{ post_template.render(site.pages, "product") }}

    </div>

  </div>

  {#########################}
  {### END ARCHIVE BLOCK ###}
  {#########################}

  {%- include '_partials/pagination.njk' -%}

{% endblock %}

{% block sidebar %}
  {{ sidebar_template.render(false) }}
{% endblock %}
